<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.blog.bean"/>
    </typeAliases>

    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>
    <mappers>
        <mapper class="com.blog.mapper.AccountMapper"/>
        <mapper class="com.blog.mapper.BlogMapper"/>
        <mapper class="com.blog.mapper.KindMapper"/>
<!--        <package name="com.test.dao"/>-->
    </mappers>
</configuration>
