<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title></title>
		<!-- 引入 Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
		<script src="js/jquery.js"></script>
		<!-- 包括所有已编译的插件 -->
		<script src="js/bootstrap.min.js"></script>
		<link href="css/style.css" rel="stylesheet" />
	</head>

	<body>
		<!--导航栏盒子-->
		<script type="text/javascript">
			$(function() {
				$("#title").load("title.html")
			})
		</script>
		<div id="title" class="d1">

		</div>

		<!--第一个banner的内容-->
		<div class="banner1">
			<div class="container">
				<h1>博客园</h1>
				<h2>博客园软件工程师的宝典，让web开发更迅速、简单。</h2>
				<p class="masthead-button-links">
					<a class="btn btn-lg btn-primary btn-shadow" href="https://v3.bootcss.com/css/" target="_blank"
						role="button"
						onclick="_hmt.push(['_trackEvent', 'masthead', 'click', 'masthead-Bootstrap3中文文档'])">Bootstrap3中文文档(v3.3.7)</a>
				</p>
				<ul class="masthead-links">
					<li>
						<a href="https://v3.bootcss.com/css/" target="_blank" role="button"
							onclick="_hmt.push(['_trackEvent', 'masthead', 'click', 'masthead-Bootstrap2中文文档'])">Bootstrap2中文文档(v2.3.2)</a>
					</li>
				</ul>
			</div>
		</div>
		<!--热门社区-->
		<div class="bc-social">
			<div class="container">
				<ul class="bc-social-buttons">
					<li class="social-forum">
						<a class="" href="http://wenda.bootcss.com" title="Bootstrap问答社区" target="_blank"
							onclick="_hmt.push(['_trackEvent', 'masthead', 'click', 'masthead-Bootstrap问答社区'])">
							<i class="fa fa-comments"></i> Bootstrap问答社区
						</a>
					</li>
					<li class="social-weibo">
						<a href="http://weibo.com/bootcss" title="Bootstrap中文网官方微博" target="_blank"
							onclick="_hmt.push(['_trackEvent', 'masthead', 'click', 'masthead-新浪微博'])"><i
								class="fa fa-weibo"></i> 新浪微博：@Bootstrap中文网</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 内容模块1 -->
		<div class="d2 allwidth">
			<!--用户信息-->
			<div id="userinfo" class="templatemo-container userinfo">
				<ul>
					<li><span class="glyphicon glyphicon-user" th:text="${myAccount.username}">：莱奥纳多</span></li>
					<li><span class="glyphicon glyphicon-tree-conifer">：</span>
						<span th:text="${myAccount.gender==1?'♂':'♀'}"></span>&nbsp;
					</li>
					<li><span class="glyphicon glyphicon-circle-arrow-right" th:text="':'+${myAccount.age}"></span></li>
					<li><span class="glyphicon glyphicon-earphone" th:text="${myAccount.telephone}">：128304893</span>
					</li>
					<div th:if="${myAccount!=null}">
						<li>
							<a href="showbloglist.action?type=1&uid=${current_user.id }">click me into my blog</a>
						</li>
						<li>
							<a href="createblog.action?type=1">create blog</a>
						</li>
					</div>
				</ul>
			</div>
			<!--用户博客概要列表-->
			<div class="schemalist">
				<table class="table table-hover bloglist">
					<tr class="personbloginfo_tr">
						<th style="width:10%;">作者</th>
						<th>标题</th>
						<th>分类</th>
						<th>时间</th>
						<th>浏览量</th>
					</tr>
					<!--要循环的博客概要-->
					<div th:each="p:${myBlog}">
						<tr >
							<td class="line">
								<a th:text="${p.author.username}" th:href="${#servletContext.contextPath}+'author.do?id='+${p.author.id}">这是一个什么都没有的东西</a>
							</td>
							<td class="line">
								<span class="schema_title" th:text="${p.title}">羚羊及时转弯的机巧和敏捷</span>
							</td>
							<td>
								<span th:text="${p.kind}"></span>
							</td>
							<td class="line">
								<span class="schema_time">时间：<span th:text="${p.creationTime}"></span></span>
							</td>
							<td class="line">
								<span class="schema_time"><span th:text="${p.pageView}"></span></span>
							</td>

							<td class="line">
								<span  class="blogedit">
									<a th:href="${'deleteBlog.do?id='+p.id}">删除</a>&nbsp;|&nbsp;
									<a th:href="${'viewmodifyblog.do?id='+p.id}">编辑</a>
								</span>
							</td>
						</tr>
						<tr  class="personbloginfo_tr">
							<td class="layout" colspan="5">
								<a th:text="${p.schema}" th:href="${#servletContext.contextPath}+'title.do?title='+${p.id}">
									羚羊最快的奔跑时速只有70公里，而猎豹的奔跑时速可以达到100公里。按常理，猎豹捕获羚羊那是十拿九稳的事，但事实并非如此，猎豹每次出击，它的成功概率不到10%。那么，羚羊又是怎样从猎豹的魔爪下而一次次成功逃脱的呢？羚羊最快的奔跑时速只有70公里，而猎豹的奔跑时速可以达到100公里。按常理，猎豹捕获羚羊那是十拿九稳的事，但事实并非如此
								</a>
							</td>
						</tr>
					</div>
					

				</table>
			</div>
		</div>
		<!-- 脚部 -->
		<div id="foot" class="footer">
			<script type="text/javascript">
				$(function(){
					$("#foot").load("foot.html")
				})
			</script>
		</div>
		<!-- 脚部结束 -->
	</body>

</html>
